{% extends 'admin/base.html.twig' %}

{% block title %}Modification du commentaire n° {{comment.id}}{% endblock %}
  
{% block body %}
	<div class="container">
		<h1 class="my-5">Modification du commentaire n° {{comment.id}}</h1>

		<div class="alert alert-info">
			<strong>Annonce liée : </strong> {{ comment.ad.title }}<br>
			<strong>Auteur : </strong> {{comment.author.fullName}}<br>
			<strong>Date de création : </strong> {{ comment.createdAt|date('d/m/Y H:i') }}<br>
			<strong>Note donnée : </strong>{{ comment.rating }}
		</div>


		{{ form_start(form) }}
		<div class="row">
			<div class="col">
				<div class="card bg-light">
					<div class="card-header">
						<h4 class="card-title">Corriger le comentaire ?</h4>
					</div>
					<div class="card-body">
						
						{{ form_widget(form) }}
						<button type="submit" class="btn btn-primary">
							<i class="fas fa-check"></i>
							Enregistrer les modifications
						</button>
					</div>
				</div>
			</div>
		</div>	
	</div>
{% endblock %}

{% block _ad_images_widget %}
	{{ form_widget(form) }}
{% endblock %}

{% block _ad_images_entry_row %}
	<div id="block_{{id}}">
		{{ form_widget(form) }}
	</div>
{% endblock %}

{% block _ad_images_entry_widget %}
	<div class="row align-items-center" mb-3>
		<div class="col-4">
		{% if value %}
			<img src="{{value.url}}" class="img-fluid" alt="">
		{% endif %}
		</div>
		<div class="col-6">
			{{ form_row(form.caption) }}
		</div>
		<div class="col">
			<button type="button" class="btn btn-danger" data-action="delete" data-target="#block_{{id}}">
				<i class="fas fa-trash"></i>
			</button>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready(function() {			
			$('[data-action="delete"]').on('click', function(){
				const target = this.dataset.target;
				console.log(target);
				$(target).remove();
			});
		});

	</script>
{% endblock %}
